@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	max-width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

#light {
	background: conic-gradient(
		from 41deg at 85% 120%,
		rgb(17, 17, 40, 1) 75.2%,
		rgba(0, 188, 212, 0.2) 76%,
		rgba(17, 17, 40, 1) 76.8%
	);
	opacity: 100%;
}
@media only screen and (max-width: 600px) {
	#light {
		background: conic-gradient(
			from 41deg at 90% 95%,
			rgba(17, 17, 40, 1) 75.2%,
			rgba(0, 188, 212, 0.2) 76%,
			rgba(17, 17, 40, 1) 76.8%
		);
	}
}
