@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(66, 66, 66, 1) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
}
#light {
  background: conic-gradient(
    from 41deg at 85% 120%,
    rgb(41, 41, 41, 1) 75.2%,
    rgba(0, 188, 212, 0.2) 76%,
    rgba(41, 41, 41, 1) 76.8%
  );
  opacity: 100%;
}
@media only screen and (max-width: 600px) {
  #light {
    background: conic-gradient(
      from 41deg at 90% 95%,
      rgba(20, 20, 20, 1) 75.2%,
      rgba(0, 188, 212, 0.2) 76%,
      rgba(20, 20, 20, 1) 76.8%
    );
  }
}
